.fav-button {
  width: 150px;
  bottom: 15px;
  font-size: 14px;
  position: absolute;
  margin-left: 15px;
}

.course-duration {
  bottom: 40px;
  position: absolute;
}

@media (min-width: 768px) {
  .fav-button {
    width: 180px;
    bottom: 15px;
    position: absolute;
    margin-left: 15px;
  }

  .course-duration {
    bottom: 50px;
  }
}
